.button {
  padding: 15px 20px;
  background-color: #f9f9f9;
  border: 2px solid rgba(96, 13, 100, 0.25);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #f9f9f9;
    border: 2px solid rgba(96, 13, 100, 0.5);
  }
  &:disabled {
    background-color: #888888;
    border: 2px solid #4f4f4f;
    color: #f9f9f9;
    cursor: not-allowed;
  }
}
